.ask{
    background-color: #010409;
    display:flex;
    min-height: 100vh;
    justify-content: center;
}
.ask__container > .MuiAlert-root{
    margin-top: 10px;
}
.ask__container > h1{
    color: lightgray;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
}
.ask__container > form{
    background-color: #161B22;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}
.ask__container>form>.form__title{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 20px;
}
.ask__container>form>.form__type{
width: 100%;
margin-bottom: 20px;
}
.ask__container>form>.form__body{
margin-bottom: 20px;
display: flex;
flex-direction: column;
width: 100%;
}
.ask__container>form>.form__title>p{
    color: white;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.ask__container>form>.form__title>input{
    padding: 5px;
    width: 95%;
    outline-width: 0;
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    background-color: #010409;
    color: lightgray;
}
.ask__container>form>.form__title>small{
    color: rgb(223,24,24);
}
.ask__container>form>.form__type>p{
    color: white;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.ask__container>form>.form__type>input{
    padding: 5px;
    width: 95%;
    outline-width: 0;
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    background-color: #010409;
    color: lightgray;

}

.ask__container>form>.form__body>p{
    color: white;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.ask__container>form>.form__body>textarea{
    padding: 5px;
    width: 95%;
    outline-width: 0;
    border: 1px solid grey;
    border-radius: 5px;
    height: 300px;
    background-color: #010409;
    color: lightgray;
    resize: none;
}
.ask__container>form>.form__body>small{
    color: rgb(223,24,24);
}
.ask__container>form>button{
    background-color: lightgreen !important;
}