.header{
  
    position: sticky;
    top:0;
    z-index:1000;
    background-color:rgb(22,27,34);  
    box-shadow:1px 1px 3px 4px rgb(0,2,3);


}
.header__center{
    width:80%;
    display:flex;
    align-items:center;
    margin:auto;
}
.header__center > .MuiSvgIcon-root{
    padding: 0px 5px ;
    height: 45px !important;
    color:white !important;
}
.header__center > .MuiSvgIcon-root:hover{
    background-color:orange !important;
    color:black !important;
}
.header__center > img{
    width:50px;
    height:45px;
object-fit:cover;
}
.header__center >h3{
    font-weight:200;
    height:45px;
    display:flex;
    padding:0px 5px;
    color:white;
    align-items:center;

}
.header__center > h3:hover{
    background-color:orange !important;
}
.header__center > h3:hover>a{
    color:black!important;
}
.header__center > h3:hover>a>span{
    color:black!important;
}
.header__center > h3>a{
    color:white;
    text-decoration: none;
}
.header__center > h3>a>span{
    color:white;
    font-weight: 500;
}
.header__click{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right:10px;
    margin-left: 10px;
    flex: 0.3;
}
.header__click>p{
    cursor: pointer;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 6px 16px;
    margin: 0px 3px 0px 3px;
}
.header__click>p>a{
    color: white;
    text-decoration: none !important;
}
.header__click>p:hover{
    background-color: orange;
    border-radius: 50px;
    border: 1px solid gray;
}
.header__click>p:hover>a{
    color: black;
}


.header__search{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #BBC0C4;
    background-color: rgb(1, 4, 9);
    padding: 5px ;
    flex: 0.6;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.header__search>input{
    border: none;
    outline-width: 0;
    overflow: hidden;
    flex: 1;
    background-color: transparent;
    color: white;
}

.header__search>.MuiSvgIcon-root{
    color: #BBC0C4 !important;
    cursor: pointer !important;
}
.header__button>.header__login a{
    text-decoration:none !important ;
    color: #A4C0D5 !important;

}
.header__button>.header__login{
    margin-left: 5px;
    margin-right: 5px;
    background-color: #E1ECF4 !important;
}
.header__button >.header__logout{
    color:white !important;
    margin-left:5px;
margin-right: 5px;
background-color: #0095FF;
}
