.login{
    display:grid;
    place-content: center;
    height:100vh;
    background-color: #0D1117;
}
.login>button{
    background-color: lightgray;
    border-radius: 5px !important;
}
.login>button  img{
    margin-right: 5px;
    width: 40px;
    height:40px
}

.login>button:hover{
    border: 1px solid gray !important;
    color: white !important;
}